

.nav{
      display:flex;
      justify-content: space-around;
      align-items:center;
      min-height:10vh;
      background-color: lightcyan;
      position: fixed;
      width: 100%;
      top:0;
      z-index: 11;
      
  }
  a{
      text-decoration: none;
      transition: .4s;
  }
  .nav a{
      color:black;
  }
  .nav a:hover{
      color: tomato;
      text-decoration: none;
  
  }
  #login{
      color: tomato;
  }
  #login a{
    color: tomato;
  }
  .logo h3{
      font-family: 'Sacramento', cursive;
      font-weight: 500;
      text-align: center;
      font-size:45px;
  }
  .logo-name{
       color: tomato;
  }
  .logo-name:hover{
      color: tomato;
      text-decoration: none;
  }
  .between{
      font-family: 'Lucida Calligraphy', cursive;
      color: black;
  }
  
  .nav-links{
      display:flex;
      list-style: none;
      width:50%;
      justify-content: space-around;
      letter-spacing: 2px;
      font-weight: 600;
      font-size:14px;
      font-family: 'Montserrat', sans-serif;
  }
  .burger div{
      background-color:#f84258;
      width:25px;
      height:3px;
      margin:5px;
      transition: all 0.3s ease;
  }
  
  .burger{
      display:none;
      cursor: pointer;
  }
  
  @media screen and (max-width:500px){
      .nav-links{
          width:80%;
      }
  
  }
  
  @media screen and (max-width:500px){
      body{
          overflow-x: hidden;
      }
      .nav-links{
         position:absolute;
         right:0px;
         height:90vh;
         top:10vh;
         background-color: #232323;
         display:flex;
         flex-direction: column;
         align-items: center;
         width:60%;
         transform:translateX(100%);
         transition: transform 0.5s ease-in;
      }
      .nav-links li{
          opacity: 0;
      }
      .burger{
          display: block;
      }
      nav a{
          color:rgb(231, 216, 216);
      }
      nav a:hover{
          color:#f7f7f7;
          text-decoration: none;
      
      }
  }
  .nav-active{
      transform: translateX(0%);
  }
  .dropbtn {
    background-color: lightcyan;
    color: tomato;
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    text-shadow: 1px 1px 0px 1px solid black;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover .dropdown-content {
  display: block;
}
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: tomato;
    min-width: 80px;
    z-index: 12;
    font-size: 13px;
    font-weight: 600;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: rgba(255, 255, 224, .5);
      
      
    }
  .productimg{
    position: absolute;
    top: 300px;
    left: 100px;
    width: 400px;
    height: 500px;
  }
  .product-details {
    position: absolute;
    top: 300px;
    left: 700px;
    width: 600px;
  }

  .product-details .product-name {
    text-transform: uppercase;
    font-size: 18px;
  }
  
  .product-details .product-rating {
    display: inline-block;
    margin-right: 15px;
  }
  
  .product-details .product-rating>i {
    color: #E4E7ED;
  }
  
  .product-details .product-rating>i.fa-star {
    color: #D10024;
  }
  
  .product-details .product-price {
    display: inline-block;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #D10024;
  }
  
  .product-details .available {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 30px;
    color: #D10024;
  }
  
  .product-details .product-options {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .product-details .product-options label {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
    margin-bottom: 0px;
  }
  
  .product-details .product-options .input-select {
    width: 90px;
  }
  
  .product-details .addcart {
    margin-bottom: 30px;
  }
  .product-details .addcart .add-to-cart {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #ef233c;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .product-details .addcart .add-to-cart>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: #D10024;
    opacity: 0;
    visibility: hidden;
  }
  
  .product-details .addcart .add-to-cart:hover {
    background-color: #FFF;
    color: #D10024;
    border-color: #D10024;
    padding: 0px 30px 0px 50px;
  }
  
  .product-details .addcart .add-to-cart:hover>i {
    opacity: 1;
    visibility: visible;
  }
  
  .product-details .product-links {
    margin-top: 15px;
  }
  
  .product-details .product-links li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 10px;
  }

.container9 .dropdown2  {
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins';
  font-size: 17px;
  width: 20rem;
  padding: 1rem;
  border: 1px solid orange;
  border-radius: 5px;
  appearance: none;
  outline: none;
  position: absolute;
  top: 120px;
  left: 300px;
  box-shadow: 1px 1px 2px tomato;
}
.dropbtn2 {
  background-color: white;
  color: tomato;
  padding: 0px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.dropbtn2:hover, .dropbtn2:focus {
  text-shadow: 1px 1px 0px 1px solid black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: absolute;
  display: block;
}
.dropdown2:hover .dropdown-content2 {
display: block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  background-color: white;
  color: tomato;
  min-width: 80px;
  z-index: 12;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  color: tomato;
  border-bottom: 1px solid tomato;
}
.dropdown-content2 a:hover {
  background-color: tomato;
  color: white;
  
}
.product-tabs {
  position: absolute;
  top: 400px;
  left: 300px;
  width: 30%;

}
