nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    min-height:10vh;
    background-color: lightcyan;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 100;
    
}
a{
    text-decoration: none;
    transition: .4s;
}
nav a{
    color:black;
}
nav a:hover{
    color: tomato;
    text-decoration: none;

}
#login{
    color: tomato;
}
.logo h3{
    font-family: 'Sacramento', cursive;
    font-weight: 500;
    text-align: center;
    font-size:45px;
}
.logo-name{
     color: tomato;
}
.logo-name:hover{
    color: tomato;
    text-decoration: none;
}
.between{
    font-family: 'Lucida Calligraphy', cursive;
    color: black;
}

.nav-links{
    display:flex;
    list-style: none;
    width:50%;
    justify-content: space-around;
    letter-spacing: 2px;
    font-weight: 600;
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
}
.burger div{
    background-color:#f84258;
    width:25px;
    height:3px;
    margin:5px;
    transition: all 0.3s ease;
}

.burger{
    display:none;
    cursor: pointer;
}
.container9 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    position: relative;
    top: 150px;
  }
  .container9 h1{
      position: absolute;
      top: 100px;
      left: 60px;
      color: orangered;
      text-shadow: 1px 1px 1px black;
  }
  
  /* .container9 select {
    font-family: 'Poppins';
    font-size: 17px;
    width: 20rem;
    padding: 1rem;
    border: 1px solid orange;
    border-radius: 5px;
    appearance: none;
    outline: none;
    position: absolute;
    top: 120px;
    left: 300px;
    box-shadow: 1px 1px 2px tomato;
  }

  .container9 option{
      background-color: white;
      color: orangered; 
  }*/
  
  form {
    position: relative;
    z-index: 1;
  }
  form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }
  .product-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    top: 400px;
  }
  
  .product-item {
    position: relative;
    width: 27rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  
  .product-thumb img {
    width: 100%;
    height: 31rem;
    object-fit: cover;
    transition: all 500ms linear;
  }
  
  .product-info {
    padding: 1rem;
    text-align: center;
  }
  
  .product-info span {
    display: inline-block;
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .product-info a {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
    transition: all 300ms ease;
    color: black;
  }
  
  .product-info a:hover {
    color: orange;
  }
  .product-info strike{
    font-size: 15px;
    color: gray;
}
  .product-item .icons {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  
  .product-item .icons li {
    background-color: white;
    text-align: center;
    padding: 1rem 1.5rem;
    font-size: 2.3rem;
    cursor: pointer;
    transition: 300ms ease-out;
    transform: translateY(20px);
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.1s;
    margin-right: 0.6rem;
  }
  
  .product-item:hover .icons li {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .product-item .icons li:hover {
    background-color: orange;
    color: white;
  }
  
  .product-item .overlay {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
  }
  
  .product-item .overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 300ms ease-out;
  }
  
  .product-item:hover .overlay::after {
    visibility: visible;
    opacity: 1;
  }
  
  .product-item:hover .product-thumb img {
    transform: scale(1.1);
  }
  
  .product-item .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: lightgreen;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 2rem;
    font-size: 1.5rem;
  }
  
  @media only screen and (max-width: 567px) {
    .product-center {
      max-width: 100%;
      padding: 0 1rem;
    }
  
    .product-item {
      width: 40%;
      margin-bottom: 3rem;
    }
  
    .product-thumb img {
      height: 20rem;
    }
  
    .product-item {
      margin-right: 2rem;
    }
  
    .product-item .icons li {
      padding: 0.5rem 1rem;
      font-size: 1.8rem;
    }
  }

  .page {
    display: inline-block;
    padding: 3rem 0 5rem 0;
    position: relative;
    top: 400px;
    left: 43%;
  }
  
  .page a {
    display: inline-block;
    padding: 1rem 1.5rem;
    border: 1px solid tomato;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    text-decoration: none;
    color: black;
  }
  
  .page a:hover {
    border: 1px solid tomato;
    background-color: tomato;
    color: white;
  }

  .cart {
      margin: 7rem auto;
  }
  
  table {
      position: relative;
      top: 100px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  th {
    text-align: left;
    padding: 0.5rem 5.3rem;
    color: #fff;
    background-color: orangered;
    font-weight: bold;
  }
  
  td {
    padding: 3rem 3rem;
  }
  
  td input {
    width: 5rem;
    height: 1rem;
    padding: 0.8rem;
  }
  
  td a {
    color: orangered;
    font-size: 1.4rem;
  }
  
  td img {
    width: 10rem;
    height: 10rem;
    margin-right: 1rem;
  }
  
  .total-price {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 2rem;
    font-weight: bold;
  }
  
  .total-price table {
    border-top: 3px solid tomato;
    width: 100%;
    max-width: 35rem;
  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
    font-weight: bold;
  }
  
  .checkout {
    display: inline-block;
    background-color: tomato;
    color: white;
    padding: 1rem;
    margin-top: 6rem;
    margin-right: 3rem;
  }
  
  @media only screen and (max-width: 500px) {
    .cart-info p {
      display: none;
    }
  }

